#Header{
    background-color:rgb(68,68,68);
    list-style-type: none;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    color: rgb(143,143,143);
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}
#Header img{
width: 100%;

}
#Header img :hover{
    color: white;
}
#Header #search{
    width: 1.5%;
}